.rounded{border-radius: $r_size1!important;}
.rounded-1{border-radius: $r_size2!important;}
.rounded-2{border-radius: $r_size3!important;}
.rounded-3{border-radius: $r_size4!important;}
.rounded-4{border-radius: $r_size5!important;}
.rounded-5{border-radius: $r_size6!important;}
.rounded-6{border-radius: $r_size7!important;}
