/* grid sizes */
$xs: 575.98px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$clmNumber: 20;
$clmHorizontalMargin: 10px;
$clmVerticalMargin: 10px;

$distance1: 5px;
$distance2: 10px;
$distance3: 15px;
$distance4: 20px;
$distance5: 25px;
