/** ****** background colors ****** */

//** ***** main colors ***** */
.bg-aliceblue {
  background-color: #f0f8ff!important;
}

.bg-antiquewhite {
  background-color: #faebd7!important;
}

.bg-aqua {
  background-color: #00ffff!important;
}

.bg-aquamarine {
  background-color: #7fffd4!important;
}

.bg-azure {
  background-color: #f0ffff!important;
}

.bg-beige {
  background-color: #f5f5dc!important;
}

.bg-bisque {
  background-color: #ffe4c4!important;
}

.bg-black {
  background-color: #000000!important;
}

.bg-blanchedalmond {
  background-color: #ffebcd!important;
}

.bg-blue {
  background-color: #0000ff!important;
}

.bg-blueviolet {
  background-color: #8a2be2!important;
}

.bg-brown {
  background-color: #a52a2a!important;
}

.bg-burlywood {
  background-color: #deb887!important;
}

.bg-cadetblue {
  background-color: #5f9ea0!important;
}

.bg-chartreuse {
  background-color: #7fff00!important;
}

.bg-chocolate {
  background-color: #d2691e!important;
}

.bg-coral {
  background-color: #ff7f50!important;
}

.bg-cornflowerblue {
  background-color: #6495ed!important;
}

.bg-cornsilk {
  background-color: #fff8dc!important;
}

.bg-crimson {
  background-color: #dc143c!important;
}

.bg-cyan {
  background-color: #00ffff!important;
}

.bg-darkblue {
  background-color: #00008b!important;
}

.bg-darkcyan {
  background-color: #008b8b!important;
}

.bg-darkgoldenrod {
  background-color: #b8860b!important;
}

.bg-darkgray {
  background-color: #a9a9a9!important;
}

.bg-darkgreen {
  background-color: #006400!important;
}

.bg-darkgrey {
  background-color: #a9a9a9!important;
}

.bg-darkkhaki {
  background-color: #bdb76b!important;
}

.bg-darkmagenta {
  background-color: #8b008b!important;
}

.bg-darkolivegreen {
  background-color: #556b2f!important;
}

.bg-darkorange {
  background-color: #ff8c00!important;
}

.bg-darkorchid {
  background-color: #9932cc!important;
}

.bg-darkred {
  background-color: #8b0000!important;
}

.bg-darksalmon {
  background-color: #e9967a!important;
}

.bg-darkseagreen {
  background-color: #8fbc8f!important;
}

.bg-darkslateblue {
  background-color: #483d8b!important;
}

.bg-darkslategrey {
  background-color: #2f4f4f!important;
}

.bg-darkturquoise {
  background-color: #00ced1!important;
}

.bg-darkviolet {
  background-color: #9400d3!important;
}

.bg-deeppink {
  background-color: #ff1493!important;
}

.bg-deepskyblue {
  background-color: #00bfff!important;
}

.bg-dimgray {
  background-color: #696969!important;
}

.bg-dimgrey {
  background-color: #696969!important;
}

.bg-dodgerblue {
  background-color: #1e90ff!important;
}

.bg-firebrick {
  background-color: #b22222!important;
}

.bg-floralwhite {
  background-color: #fffaf0!important;
}

.bg-forestgreen {
  background-color: #228b22!important;
}

.bg-fuchsia {
  background-color: #ff00ff!important;
}

.bg-gainsboro {
  background-color: #dcdcdc!important;
}

.bg-ghostwhite {
  background-color: #f8f8ff!important;
}

.bg-gold {
  background-color: #ffd700!important;
}

.bg-goldenrod {
  background-color: #daa520!important;
}

.bg-gray {
  background-color: #808080!important;
}

.bg-green {
  background-color: #008000!important;
}

.bg-greenyellow {
  background-color: #adff2f!important;
}

.bg-grey {
  background-color: #808080!important;
}

.bg-honeydew {
  background-color: #f0fff0!important;
}

.bg-hotpink {
  background-color: #ff69b4!important;
}

.bg-indianred {
  background-color: #cd5c5c!important;
}

.bg-indigo {
  background-color: #4b0082!important;
}

.bg-ivory {
  background-color: #fffff0!important;
}

.bg-khaki {
  background-color: #f0e68c!important;
}

.bg-lavender {
  background-color: #e6e6fa!important;
}

.bg-lavenderblush {
  background-color: #fff0f5!important;
}

.bg-lawngreen {
  background-color: #7cfc00!important;
}

.bg-lemonchiffon {
  background-color: #fffacd!important;
}

.bg-lightblue {
  background-color: #add8e6!important;
}

.bg-lightcoral {
  background-color: #f08080!important;
}

.bg-lightcyan {
  background-color: #e0ffff!important;
}

.bg-lightgoldenrodyellow {
  background-color: #fafad2!important;
}

.bg-lightgray {
  background-color: #d3d3d3!important;
}

.bg-lightgreen {
  background-color: #90ee90!important;
}

.bg-lightgrey {
  background-color: #d3d3d3!important;
}

.bg-lightpink {
  background-color: #ffb6c1!important;
}

.bg-lightsalmon {
  background-color: #ffa07a!important;
}

.bg-lightseagreen {
  background-color: #20b2aa!important;
}

.bg-lightskyblue {
  background-color: #87cefa!important;
}

.bg-lightslategrey {
  background-color: #778899!important;
}

.bg-lightsteelblue {
  background-color: #b0c4de!important;
}

.bg-lightyellow {
  background-color: #ffffe0!important;
}

.bg-lime {
  background-color: #00ff00!important;
}

.bg-limegreen {
  background-color: #32cd32!important;
}

.bg-linen {
  background-color: #faf0e6!important;
}

.bg-magenta {
  background-color: #ff00ff!important;
}

.bg-maroon {
  background-color: #800000!important;
}

.bg-mediumaquamarine {
  background-color: #66cdaa!important;
}

.bg-mediumblue {
  background-color: #0000cd!important;
}

.bg-mediumorchid {
  background-color: #ba55d3!important;
}

.bg-mediumpurple {
  background-color: #9370db!important;
}

.bg-mediumseagreen {
  background-color: #3cb371!important;
}

.bg-mediumslateblue {
  background-color: #7b68ee!important;
}

.bg-mediumspringgreen {
  background-color: #00fa9a!important;
}

.bg-mediumturquoise {
  background-color: #48d1cc!important;
}

.bg-mediumvioletred {
  background-color: #c71585!important;
}

.bg-midnightblue {
  background-color: #191970!important;
}

.bg-mintcream {
  background-color: #f5fffa!important;
}

.bg-mistyrose {
  background-color: #ffe4e1!important;
}

.bg-moccasin {
  background-color: #ffe4b5!important;
}

.bg-navajowhite {
  background-color: #ffdead!important;
}

.bg-navy {
  background-color: #000080!important;
}

.bg-oldlace {
  background-color: #fdf5e6!important;
}

.bg-olive {
  background-color: #808000!important;
}

.bg-olivedrab {
  background-color: #6b8e23!important;
}

.bg-orange {
  background-color: #ffa500!important;
}

.bg-orangered {
  background-color: #ff4500!important;
}

.bg-orchid {
  background-color: #da70d6!important;
}

.bg-palegoldenrod {
  background-color: #eee8aa!important;
}

.bg-palegreen {
  background-color: #98fb98!important;
}

.bg-paleturquoise {
  background-color: #afeeee!important;
}

.bg-palevioletred {
  background-color: #db7093!important;
}

.bg-papayawhip {
  background-color: #ffefd5!important;
}

.bg-peachpuff {
  background-color: #ffdab9!important;
}

.bg-peru {
  background-color: #cd853f!important;
}

.bg-pink {
  background-color: #ffc0cb!important;
}

.bg-plum {
  background-color: #dda0dd!important;
}

.bg-powderblue {
  background-color: #b0e0e6!important;
}

.bg-purple {
  background-color: #800080!important;
}

.bg-rebeccapurple {
  background-color: #663399!important;
}

.bg-red {
  background-color: #ff0000!important;
}

.bg-rosybrown {
  background-color: #bc8f8f!important;
}

.bg-royalblue {
  background-color: #4169e1!important;
}

.bg-saddlebrown {
  background-color: #8b4513!important;
}

.bg-salmon {
  background-color: #fa8072!important;
}

.bg-sandybrown {
  background-color: #f4a460!important;
}

.bg-seagreen {
  background-color: #2e8b57!important;
}

.bg-seashell {
  background-color: #fff5ee!important;
}

.bg-sienna {
  background-color: #a0522d!important;
}

.bg-silver {
  background-color: #c0c0c0!important;
}

.bg-skyblue {
  background-color: #87ceeb!important;
}

.bg-slateblue {
  background-color: #6a5acd!important;
}

.bg-slategray {
  background-color: #708090!important;
}

.bg-snow {
  background-color: #fffafa!important;
}

.bg-springgreen {
  background-color: #00ff7f!important;
}

.bg-steelblue {
  background-color: #4682b4!important;
}

.bg-tan {
  background-color: #d2b48c!important;
}

.bg-teal {
  background-color: #008080!important;
}

.bg-thistle {
  background-color: #d8bfd8!important;
}

.bg-tomato {
  background-color: #ff6347!important;
}

.bg-turquoise {
  background-color: #40e0d0!important;
}

.bg-violet {
  background-color: #ee82ee!important;
}

.bg-wheat {
  background-color: #f5deb3!important;
}

.bg-white {
  background-color: #ffffff!important;
}

.bg-whitesmoke {
  background-color: #f5f5f5!important;
}

.bg-yellow {
  background-color: #ffff00!important;
}

.bg-yellowgreen {
  background-color: #9acd32!important;
}

/** bootstrap colors */
.bg-light {
  background-color: #f8f9fa !important;
}

.bg-whit {
  background-color: #ffffff !important;
}

.bg-danger {
  background-color: #dc3545 !important;
}

.bg-warning {
  background-color: #ffc107 !important;
}

.bg-info {
  background-color: #17a2b8 !important;
}

.bg-success {
  background-color: #28a745 !important;
}

.bg-secondary {
  background-color: #6c757d !important;
}

.bg-primary {
  background-color: #007bff !important;
}

.bg-transparent {
  background-color: transparent !important;
}



